@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.modal::-webkit-scrollbar {
  @apply w-2 overflow-hidden;
}
.modal::-webkit-scrollbar-track {
  @apply bg-gray-300;
}
.modal::-webkit-scrollbar-thumb {
  @apply bg-royal-blue;
  border-radius: 5px;
}
.modal::-webkit-scrollbar-thumb:hover {
  @apply bg-royal-blue/90;
}
